.lists {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.paragraph {
  font-family: 'Roboto';
}

.button {
  border: 1px solid #ff0b37;
  color: #ff0b37;
  background-color: #fff;
  padding: 6px 16px;
  border-radius: 6px;
}
